*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    transition: all 0.3s ease-in-out;
}

.principal{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;
    transition: all 0.3s ease-in-out;

    background: linear-gradient(120deg, rgb(6, 226, 255) 0%, rgb(46, 95, 255) 100%);
}

.principal.muerto{
    transition: all 0.3s ease-in-out;
    background: linear-gradient(135deg, rgb(0, 0, 0) , rgb(0, 0, 0) );
}

.reloj{
    font-size: 80px;
    align-items: center;
    position: absolute;
    color: black;
    transition: all 0.3s ease-in-out;
    /* background-color: aliceblue; */
}

.Character{
    /* background-color: aliceblue; */
    margin-top: 10vh;
    transition: all 0.3s ease-in-out;
}

.Character img{
    position: relative;
    width: 450px;
    height: auto;
    /* transform: translateX(150px); */
    transition: all 0.3s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.Character img:hover{
    transform: scale(1.01);
    transition: all 0.3s ease-in-out;
}

.Character img:active{
    transform: scale(0.9);
    transition: all 0.3s ease-in-out;
}

/* .principal-title{
    font-size: 3rem;
    font-weight: bold;
    user-select: none;
}

.principal-description{
    font-size: 1.5rem;
    user-select: none;
} */