@font-face {
    font-family: 'Titulo';
    src: url(./fonts/CherryBombOne-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Carta';
    src: url(./fonts/HachiMaruPop-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Carta_2';
    src: url(./fonts/SueEllenFrancisco-Regular.ttf) format('truetype');
}

*{
  margin: 0;
  padding: 0;
}

html, body, #root{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(44, 44, 44);
    transition: all 0.3s ease-in-out;
}